*{margin:0 auto; padding:0; border:0; box-sizing: border-box;}
body{position: relative; font-family: 'NanumGothic'; background-repeat: no-repeat; background-position: center; background-size:cover; overflow-x:hidden; height:100vh}
/*body:before{content:""; position: absolute; opacity: 0.65; background-color:black; width: 500vw; height:500vh; z-index: -1;}*/
.hidden{display: none !important ;}
.formItem{padding:5px 10px; font-size:1vw; transition:all .5s; background-color:transparent; color:#fff; outline:0;}
input.formItem{border-bottom:1px solid #fff; margin:0;}
input.formItem::placeholder{color:#fff; text-align: center;}

#weather{color:#fff; font-weight: bold; position:fixed; top:20px; right: 20px}
    #weather span:last-child{margin-left:10px}

#clock{color:#fff; font-size:8vw; font-weight: bold; text-align: center; padding:15vh 0 5vh 0;}
    #clock>span{position: relative;}
    #clock>span>span{position: absolute; font-size:3vw; bottom:1vw; left:-5vw}

#flexBox{display:flex; flex-flow:row wrap; max-width:60vw; justify-content:center}
    #flexBox .item{flex:1 1 50%}

    #flexBox #login-form{flex-basis:100%; display:flex; flex-wrap:wrap; align-content: center; justify-content:center; column-gap: 50px; margin-bottom:50px}
        #login-form button{cursor: pointer; margin:0; border:2px solid #333}
        #login-form button:hover{background-color:#333;}

    #flexBox #greeting{flex-basis: 100%; text-align: center; color:#fff; font-size:4vw; margin-bottom:50px}
        #flexBox #greeting span{color:#ebf}

    #flexBox #todo-form{text-align: center; padding-top:20px}

    #flexBox #todo-list{padding-left:50px; color:#fff; list-style: none; overflow-y:scroll; max-height:130px; overflow-x:hidden; word-wrap:break-word}
    #flexBox #todo-list::-webkit-scrollbar{width:5px}
    #flexBox #todo-list::-webkit-scrollbar-track{background-color:transparent}
    #flexBox #todo-list::-webkit-scrollbar-thumb{background-color:#666; border-radius: 10px; }
        #flexBox #todo-list li:first-child{text-align: center; font-weight: bold; font-size:22px;}
        #flexBox #todo-list li{padding-right:10px}
        #flexBox #todo-list button{background-color:transparent; margin-right:5px; cursor:pointer}

    #flexBox #quote{color:#999; text-align: center; padding-top:30px}
        #flexBox #quote span{display:block; margin:10px 0px}